* {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
}

.mainContainer {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 20px #232323;
}
.chartsContainer {
    width: 500px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appContainer {
    width: 300px;
    height: 400px;
    padding: 16px 8px;
    border-radius: 3px;
    background-color: #232323;
    /* box-shadow: 0 0 20px #fff; */
}