.appContainer {
    width: 300px;
    height: 400px;
    padding: 16px 8px;
    border-radius: 3px;
    background-color: #232323;
    /* box-shadow: 0 0 20px #fff; */
}

.sign>img {
    height: 35px;
}

.symbol {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8px;
}

h3 {
    text-align: center;
    letter-spacing: 4px;
    color: #50c8ee;
    padding: 6px 8px;
    border: 1.5px solid #ffffff;
}

.depict {
    height: 200px;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.depict>img {
    height: 150px;
}

.categoryHeaders {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoryHeaders>h5 {
    padding: 6px 6px;
    color: #50c8ee;
    letter-spacing: 2.5px;
    border: 1px solid #fff;
}

.pbars {
    height: 100px;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bars {
    width: 60px;
    height: 60px;
    position: relative;
}