* {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
}
#map_container {
    height: 700px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#map {
    height: 500px;
    width: 500px;
}
#information {
    width: 650px;
    height: 500px;
    background-color: #232323;
    padding:12px 24px;
    color:white;
    box-sizing: border-box;
}
#information > h1{
    letter-spacing: 5px;
    font-size: 72px;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
}
#information > p{
    padding: 12px 8px;
    line-height: 1.8em;
    letter-spacing: 2px;
}

#chartConatiner {
    height: 600px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chart {
    height: 500px;
    width: 500px;
}
ul > li {
    padding: 6px 6px;
}